USE [master]
GO
/****** Object:  Database [Student Record]    Script Date: 6/14/2020 5:22:56 PM ******/
CREATE DATABASE [Student Record]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Student Record', FILENAME = N'D:\Program Files\New folder\MSSQL15.SQLEXPRESS\MSSQL\DATA\Student Record.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Student Record_log', FILENAME = N'D:\Program Files\New folder\MSSQL15.SQLEXPRESS\MSSQL\DATA\Student Record_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Student Record].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Student Record]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 6/14/2020 5:22:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[Dept_id] [int] NOT NULL,
	[Dept_name] [nvarchar](50) NOT NULL,
	[Dept_location] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Departments] PRIMARY KEY CLUSTERED 
(
	[Dept_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Records]    Script Date: 6/14/2020 5:22:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Records](
	[Exam_name] [nvarchar](50) NOT NULL,
	[marks] [decimal](18, 0) NOT NULL,
	[GPA] [decimal](18, 0) NOT NULL,
	[sub_id] [int] NOT NULL,
	[st_id] [int] NOT NULL,
 CONSTRAINT [PK_Records] PRIMARY KEY CLUSTERED 
(
	[Exam_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 6/14/2020 5:22:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[st_id] [int] NOT NULL,
	[first_name] [nvarchar](50) NOT NULL,
	[last_name] [nvarchar](50) NOT NULL,
	[e-mail] [nvarchar](max) NOT NULL,
	[phone_nom] [nvarchar](50) NOT NULL,
	[address] [nvarchar](max) NOT NULL,
	[city] [nvarchar](50) NOT NULL,
	[Dept_id] [int] NOT NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[st_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subjects]    Script Date: 6/14/2020 5:22:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subjects](
	[sub_id] [int] NOT NULL,
	[sub_name] [nvarchar](50) NOT NULL,
	[crd_hrs] [int] NOT NULL,
 CONSTRAINT [PK_Subjects] PRIMARY KEY CLUSTERED 
(
	[sub_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Records]  WITH CHECK ADD  CONSTRAINT [FK_Records_Students] FOREIGN KEY([st_id])
REFERENCES [dbo].[Students] ([st_id])
GO
ALTER TABLE [dbo].[Records] CHECK CONSTRAINT [FK_Records_Students]
GO
ALTER TABLE [dbo].[Records]  WITH CHECK ADD  CONSTRAINT [FK_Records_Subjects] FOREIGN KEY([sub_id])
REFERENCES [dbo].[Subjects] ([sub_id])
GO
ALTER TABLE [dbo].[Records] CHECK CONSTRAINT [FK_Records_Subjects]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_Departments] FOREIGN KEY([Dept_id])
REFERENCES [dbo].[Departments] ([Dept_id])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_Departments]
GO
USE [master]
GO
